*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     scroll-behavior: smooth;
     
}

body{
    background-color: rgba(24, 4, 116, 1);
    color: white;
    overflow-x: hidden;
}

#menu-icon{
    display: none;
    font-size: 2rem;
}


.head{
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    background: rgba(24, 4, 116, 0.5);
    backdrop-filter: blur(10px);
    padding-bottom: 1rem;
    padding-top: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.tit{
    color: #793DF2;
    padding-left: 10px;
    position: sticky;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    gap: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
   
}

.nav a:hover{
    color: yellow;
}


.herosection{
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 47%, rgba(14, 0, 69, 1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px 0 50px 30px;
    color: white;
}

.herosection img{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleIn 1s infinite ease-in-out;
    box-shadow: 3px 5px 2px;
}

@keyframes scaleIn{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.02);
    }
}

.text-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 10px;
}

.text-cont h5{
    border-radius: 10px;
    width: 40%;
    background-color: rgb(59, 59, 139);
    cursor: pointer;
}

.text-cont h5:hover{
    background-color: #2f0979;
}

.text-cont h2{
    font-size: 48px;
    font-weight: bold;
}

.email{
    width: 30%;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgb(32, 32, 138);
    color: white;
}

.text-cont input:focus{
    outline: none;
    background-color: transparent;
}

.text-cont input{
    box-shadow: 0 0 5px rgb(54, 9, 255);
    outline: none;
}

.Waitlist{
    display: flex;
    gap: 10px;
}

.Waitlist button{
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: #793DF2;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent;
}

.Waitlist button:hover{
    background-color: #6334c2;
    cursor: pointer;
}

.benefits{
     background: rgb(14, 27, 75);
     margin-top: 50px;
     padding: 20px;
}

.benefits h1{
    text-align: center;
    padding: 20px 0 20px 0;

}

.benefit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   ;
}

.benet{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    margin-left: 3px;
    box-shadow: 3px 2px 4px ;
}

.benet:hover{
    transform: scale(1.01);
    cursor: pointer;
    
}

.benet h3{
    padding-top: 20px;
    display: flex;
}

.benet p {
    text-align: center;
}

.pricing h2{
    text-align: center;
    padding: 20px 
}

.plan{
    border: 1px solid;
    border-radius: 10px;
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 3px 2px 4px ;
}

.plan li{
    list-style-type: none;
    padding: 5px;
}

.plan button{
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: #793DF2;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent;
    margin-top: 10px;
}

.plan button:hover{
    background-color: #6334c2;
    cursor: pointer;
}

.pricing-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cta{
    background: #9f2bc5;
    padding-bottom: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 2px 4px ;
}

.cta-cont a{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #793DF2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.cta-cont a:hover{
    background-color: #6837cb;
}

footer{
    margin-top: 10px;
    text-align: center;
}

@media(max-width:1024px){
    #menu-icon{
        display: block;
        border-radius: 5px;
        background-color: rgb(113, 19, 255);
    }

    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        right: 0%;
        width: 20%;
        padding: 4rem 3rem;
        border: 2px solid var(rgba(2, 0, 36, 0.751));
        border-radius: 5px;     
        background-color: rgba(2, 0, 36, 0.751);  
        margin-right: 0; 
    }

    .navbar.active{
        display: block;
    }

    .nav{
        display: block;  
        line-height: 3rem;
    } 

    nav a.active{
        color: yellow;
    }

   .herosection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .herosection img{
       width: 90vw;
       margin-right: 25px;
    }

    .text-cont h5{
       width: 40vw;
    }

    .benefit{
        display: flex;
        flex-direction: column;
    }

    .pricing-container{
        display: flex;
        flex-direction: column;
    }

    .error{
    margin: auto;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    width: 50%;
    padding: 1rem;
    position:absolute;
    top: 50%;
   left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
}

}

.error{
    margin: auto;
    border-radius: 10px;
    background-color: black;
    backdrop-filter: blur(100px);
    color: white;
    text-align: center;
    width: 50%;
    padding: 1rem;
    position:absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    gap: 10px;
}
